<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Laba_5_pipets_kollegi.Properties.Settings.FINAL_PROJECTConnectionString"
            connectionString="Data Source=JAKFRESKO;Initial Catalog=FINAL_PROJECT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>